<!--From Templates partial view-->

	<!--<label>name</label>
	<input type="text" placeholder="name" ng-model="post.author.name">
	<label>emai</label>
	<input tyle="text" placeholder="email" ng-model="post.author.email">-->
	
	<!--Django's way to render a view
	{% for post in post_list %}
		<p>{{ post.title }}</p>
		<p>{{post.description}}</p>
	{% endfor %}-->	
<div class=".container main">
	<div class="title">
		<div class="col-md-8 col-md-offset-2">
			<div class="row">
				<div class="col-md-9">
					<h1>FlyAway</h1>
				</div>
				<div class="col-md-3" style="background:#ff6666">FaceBook LinkedIn GitHub</div>
			</div>
		</div>
	</div>
	<div class="row contentWrapper">
		<div class="col-md-8 col-md-offset-2 content">
			<div ng-repeat="post in posts" class="post">
				<h1 class="postTitle"><a href= '{$ post.post_url $}'>{$ post.title $}</a></h1><hr>
				<p class="author"><small>By {$ post.author.username $} on {$ post.created_on $}</small></p>
				<p class="postContent">
					<a href="{$ post.post_url $}">{$ post.description $}</a>
				</p>
				<p class="readMore"><a href="{$ post.post_url $}">ReadMore</a></p>
				<hr>
			</div>
		</div>
	</div><!--end of contentWrapper-->
</div>
	<!--<script>
// Add the CSRF Token
var app = angular.module('Blog'); // Not including a list of dependent modules (2nd parameter to `module`) "re-opens" the module for additional configuration
app.config(['$httpProvider', function($httpProvider){
    $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
}]);
</script>

<div ng-repeat="post in posts">
				<a href="{$ post.author.user_url $}"> <p>{$ post.author.username $}</p></a> <p> {$ post.author.email $}</p>
				<h2><a href= '{$ post.post_url $}'>{$ post.title $}</a></h2>
				<h3>{$ post.description $}</h3>
				<!--<p>{$ post.created_on $}</p>
			</div>-->