<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{{STATIC_URL}}lib/jquery-1.10.2.js"></script>
    
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/fontello-71e14bde/css/fontello.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/fontello-71e14bde/css/fontello-codes.css">
    <!-- Bootstrap -->
    <link href="{{STATIC_URL}}lib/bootstrap-3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="{{STATIC_URL}}lib/bootstrap-3.1.1/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/stylesheets/screen.css">
    <script type="text/javascript" src="{{STATIC_URL}}lib/angular-1.2.14/angular.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/angular-1.2.14/angular-route.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/angular-1.2.14/angular-animate.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/angular-1.2.14/angular-cookies.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/app.js"></script>
	<!--<script type="text/javascript" src="{{STATIC_URL}}angular/angular-resource.js"></script>-->
	<script type="text/javascript" src="{{STATIC_URL}}js/post-controller.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/post-service.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/filters.js"></script>	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
</html>
<!--index html in Templates folder -->
<body ng-app="Blog">
	<!--<p>start blocking</p>
	<a href='api-auth/login'>login</a>-->
	<div class=".container main">
		<div class="row title">
			<div class="col-md-8 col-md-offset-2">
				<div class="row"> 
					<div class="col-md-8">
						<h1><a href="#/">FlyAway</a></h1>
					</div>
					<div class="col-md-4 followLink">
						<h2> 
							<a href="https://www.facebook.com/guangyi.zhou.1" target="_blank"> <i class="icon-facebook"></i></a>
							<a href="https://twitter.com/Guangyi_flyaway" target="_blank"> <i class="icon-twitter"></i></a> 
							<a href="https://github.com/guangyi"> <i class="icon-github-circled"></i> </a>
						</h2> 
					</div>
				</div>
			</div>
		</div><!-- end of title-->
		<ng-view></ng-view>
</body>

	
