<!DOCTYPE html>
<html lang="en" ng-app="Blog">
	<head>
	</head>
	<body>
		<label for="id_title">Title</label>
		<input type = "text" id="id_title" placeholder="Title" ng-model="post.titiel">
		<label for="id_description">Description</label>
		<textarea type="text" id="id_description" ng-model="post.Description"> </textarea>
		<button ng-click="create()">Create</button>
		<div ng-repeat="post in posts">
			<h2>{$ post.title $}</h2>
			<p>{$ post.description $}</p>
			<h3>{$ post.created_on $}
	</body>
</html>