/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";
$BlogTitleColor:#FFF;
$postTitleColor:#78A632;
$newPostTitle:#78A632;
$bgTop:#9EE0FF;
$bgBottom:#DDD;
$readMoreColor:#FF7A7A;
$readMoreColorDark:#ff6666;
$authorColor:#000;
@import "compass";
/************* list of all posts page *******/
html{
	//min-height:100%;
	height:100%;
}
body { 
	height:100%;
    min-height:100%;
}
.main{
	//set height=100% also set html, body height100%, will let that
	// div set to be the height of window. with overflow:auto/hidden can set
	// different scroll effect.
	@include background-image(linear-gradient(top, $bgTop 180px, $bgBottom 181px));
	overflow:auto;
	min-height:100%;
}
.title{
	color:$BlogTitleColor;
	width:100%;
	height:auto;
	position:fixed;
	top:0;
	margin-left:0;
	z-index:3;
	background:$bgTop;
	h1{
		font-size: 3em;
		a{
			color:inherit;
			&:hover{
				text-decoration: none;
			}
		}
	}
	.followLink{
		h2{
			margin-top:40px;
			a{
				border:1px solid transparent;
				color:#fff;
				&:hover{
					color:#FF7A7A;
					//border:1px solid #ff6666;
				}
			}
		}
		@include border-radius(0.1em);
		text-align: center;
	}
}

.contentWrapper{
	margin-top:7%;
	width:100%;
	height:100%;
}
.content{
	padding:2em 3%;
	position:relative;
	background:#FFF;
	min-height:700px;
	height:100%;
	@include border-radius(0.3em);
	.post{
		margin-top:3em;
		&:nth-child(1){
			margin-top:0;
		}
	}
	.postTitle, .postTitle a{
		color:$postTitleColor;
	}
	.author{
		color:$authorColor;
	}
	.postContent{
		color:#333;
		font-size:1.5em;
		a{
			height:5em;
			color:#333;
			text-overflow: ellipsis;
			&:hover{
				text-decoration:none;
				color:#000
			}
		}
		height:5em;
		text-overflow: ellipsis;
	}
	.readMore{
		a{
			color:$readMoreColor;
			&:hover{
				text-decoration: underline;
			}
		}
		
	}
}
.new{
	position:fixed;
	padding-left:0;
	a{
		background:$readMoreColor;
		color:#fff;
		&:hover{
			text-decoration: none;
			background:$readMoreColorDark;
			color:#fff;
		}
	}
	h1{
		margin:10px 0px;
	}
}
.backBtn{
	position:fixed;
	top:40%;
	left:0;
	background:$readMoreColor;
	&:hover{
			background:$readMoreColorDark;
			color:#fff;
		}
	p{
		margin:0;
		color:#fff;//$readMoreColor;
	}
}
.newPostForm{
	.newPostTitle{
		color:$newPostTitle;
	}
	.titleInput{
		height:2em;
	}
	input[type="text"]{
		font-size: 1.5em;
	}
	textarea[type="text"]{
		font-size:1em;
	}
}

.createBtn{
	background:$readMoreColor;
	color:#fff;
}
.notice{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:5;
	background:rgba(255,255,255, 0.7);
	.message{
		position:relative;
		margin:auto;
		color:#ff6666;
		width:35%;
		top:30%;
		line-height:2em;
	}
}
	